[Desktop Entry]
Name=DaSea's Document Manager
Name[zh_CN] = 海之电子书管理软件
Comment=Simple and easy to use document
Comment[zh_CN] = 简单的本地电子书管理
Categories=Utility;Document;
Exec=/opt/DDocument/DDocument
GenericName=Document
Icon=document
Type=Application
# Icon=/opt/DDocument/ddocument.svg
StartupNotify=false
Terminal=false
