[Desktop Entry]
Type=Application
Categories=Utility;Document;
Comment=Simple and easy to use document
Exec=/opt/DDocument/DDocument
GenericName=Document
Icon=/opt/DDocument/ddocument.svg
Name=DDocument
StartupNotify=false
Comment[zh_CN] = 简单的本地电子书浏览
Name[zh_CN] = 海之电子书浏览
GenericName[zh_CN] = 本地电子书浏览
